<!-- Lets layout know what the title is-->
<% content_for :title, "Home"%>
<h5>Welcome to Runtime Terror peer evaluations. Do you want to roast your team members about their code but too afraid to do it face to face? Look no further than to use our peer evaluation to utterly destroy your teammates confidence in their coding ability (or compliment them if you really want!)</h5>