
<% if Current.courses %>
  <% Current.courses.each do |c| %>
    <h1>
    <%= c.id %> - <%= c.course_name %>
    </h1>
    <% if Current.teams %>
      <% Current.teams.each do |t| %>
        <h3>
        <%= t.team_name %>
        </h3>
      <% end %>
    <% end %>
  <% end %>
<% end %>