<%= render partial: "main/header" %>
<p>Check out your ToDo feedbacks below or use the feedback tab to view released survey results. You can also add/drop courses through the course tab.</p>
<%= render partial: "feedback/todo" %>