<p id="notice"><%= notice %></p>

<!-- Lets layout know what the title is-->
<% content_for :title, "User Courses"%>
<p> <%= getName(@user)%></p>
<p>
  <strong>Courses:</strong>
</p>
  <% @user.courses.each do |c|%>
    <p><%= c.course_name %></p>
  <%end%>


<%= link_to 'Back', @user %>