<% content_for :title, "Feedback from " + @checkpoint.checkpoint_name%>

<div class="d-flex align-items-center justify-content-center">
    <%if @user.role==1 %>
        <% @studentreceivedfeedbacks.each do |feedback| %>
            <%= render partial: 'feedbacks/view_partials/view_completed_student_layout', :locals => {:feedback => feedback} %>
        <% end %> 
    <%else %>
        <% @adminfeedbacks.each do |feedback| %>  
            <%= render partial: 'feedbacks/view_partials/view_completed_admin_layout', :locals => {:feedback => feedback} %>
        <% end %>
    <% end %>
</div>
