<div class="d-flex align-items-center justify-content-center">
  <h1>About Us</h1>
</div>
<div>
  <h5>We're a small team of students from OSU who have to use CATME and honestly our eyes bleed trying to use their website. So we made a knockoff version that looks better (but may not have the full functionality)</h5>
</div>
