<p id="notice"><%= notice %></p>

<!-- Lets layout know what the title is-->
<% content_for :title, "About Us"%>

<div>
  <h5>We're a small team of students from OSU who have to use CATME and honestly our eyes bleed trying to use their website. So we made a knockoff version that looks better (but may not have the full functionality)</h5>
</div>
